<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Wedstrijd Jeugd</title>
</head>
<body>
<h1>Resultaten invullen</h1>
<form action="/berekenenJeugd">
    <p>
        <label for="elo1"><span th:text="${'Hoeveel ELO-punten had ' + Tegenstander1.getNaam() + '?'}"></span></label>
        <input type="text" name="elo1" id="elo1">
    </p>
    <p>
        <label for="gewonnen1">Gewonnen? </label>
        <input type="radio" name="gewonnen1" id="gewonnen1">
    </p>
    <p>
        <label for="elo2"><span th:text="${'Hoeveel ELO-punten had ' + Tegenstander2.getNaam() + '?'}"></span></label>
        <input type="text" name="elo2" id="elo2">
    </p>
    <p>
        <label for="gewonnen2">Gewonnen? </label>
        <input type="radio" name="gewonnen2" id="gewonnen2">
    </p>
    <p>
        <label for="elo3"><span th:text="${'Hoeveel ELO-punten had ' + Tegenstander3.getNaam() + '?'}"></span></label>
        <input type="text" name="elo3" id="elo3">
    </p>
    <p>
        <label for="gewonnen3">Gewonnen? </label>
        <input type="radio" name="gewonnen3" id="gewonnen3">
    </p>
    <p>
        <input type="submit" value="Resultaat berekenen">
    </p>
</form>
</body>
</html>
